body{
	background-color: black;
}

p{
	color: white;
	font-family: monospace;
	font-size: 20px;
}
hr {
	border: none;
	background:linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	width: 60%;
	height: 2px;
	float: left;
}


th{
	width: 100%;
	border: solid 2px white;
	color: white;
	font-family: monospace;
	font-size: 15px;
	padding: 15px;
}

td{
	width: 100%;
	border: solid 2px white;
	color: white;
	font-family: monospace;
	padding: 10px;
}